@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.classPrecio {
  font-size: 18px;
  color: gray;
  font-family: "Montserrat", sans-serif;
}

.classCard:hover {
  border-color: #ca413d;
  cursor: context-menu;
  transform: scale(0.9, 0.9) !important;
  transition: all 0.2s !important;
}
