@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.classPrecio {
  font-size: 18px;
  color: gray;
  font-family: "Montserrat", sans-serif;
}


.classCard:hover {
  border-color: #138C91;
  cursor: context-menu;
  transform:scale(.9,.9) !important;
  transition: all .2s !important;
}

