.imageStyle {
  width: 100%;
  height: 600px;
}

.captionStyle {
  font-size: auto;
  background-color: #090a139d;
}

.classCarousell {
  width: 100%;
  height: 600px;
}

@media (max-width: 700px) {
  .classCarousell img {
    height: 15rem;
  }

  .classCarousell {
    height: 15rem;
  }
  .captionStyle {
    display: none;
  }
  .classCard {
    margin-left: 30px;
  }
}

@media (max-width: 420px) {
  .classCarousell img {
    height: 32vh;
  }

  .carousel-control-prev-icon {
    display: none;
  }

  .carousel-control-next-icon {
    display: none;
  }
}
