.main {
    flex-grow: 1;
    padding-top: 45px;
    background-color: rgb(225, 225, 225);
  }

.detalle{
    width: 70% !important;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descripcion-detalle{
    width: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
}

.img-detalle{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
    width: 60% !important;
    margin: 15px;

}

.sinopsis{
    text-align: center !important;
}

.img-main{
    border-radius: 30px;
    margin-bottom: 40px;
    width: 350px;
    height: 250px;
}

@media (max-width: 870px){
    .detalle{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
    }

    .descripcion-detalle{
        width: 60% !important;
    }

    .img-detalle{
        width: 60% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
    }
}

@media (max-width: 768px){

    .detalle{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .descripcion-detalle{
        width: 100% !important;
    }
}

@media (max-width: 576px){
    .detalle{
      width: 100% !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .img-main{
      width: 70%;
      height: 70%;
  }

  .img-detalle{
    width: 90% !important;
  }
}
