.main {
    flex-grow: 1;
    padding-top: 45px;
    background-color:#FBFBFB
  }

.detalle{
    width: 90% !important;
    background-color:FBFBFB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.descripcion-detalle{
    width: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
    
    margin: 15px;
}

.img-detalle{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
    width: 60% !important;
    margin: 15px;

}

.sinopsis{
    text-align: justify !important;
    line-height: 2rem;
    font-size: 1rem;
}

.img-main{
    border-radius: 30px;
    margin-bottom: 40px;
    width: 80%;
    height: 70%;
}

@media (max-width: 870px){
    .detalle{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
    }

    .descripcion-detalle{
        width: 60% !important;
    }

    .img-detalle{
        width: 60% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
    }
}

@media (max-width: 768px){

    .detalle{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .descripcion-detalle{
        width: 100% !important;
    }
}

@media (max-width: 576px){
    .detalle{
      width: 100% !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .detalle-video{
    width: 85% !important;
  }

  .img-main{
      width: 80%;
      height: 60%;
  }

  .img-detalle{
    width: 90% !important;
  }
}
