.volver1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.contenedor404 {
  overflow: hidden;
}

.volver1 button {
  padding: 10px;
  border: none;
  border-radius: 15px;
  margin: 2rem 0rem;
  background-color: #cf3d3f;
  color: white;
}
