.card-testimonios{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    gap: 1.5rem !important;
    margin: 2rem 0.5rem !important;
    padding: 0 !important;
    height: 5rem;

}

.pagos{
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.pagos img{
    width: 2rem;
}

.card-body-testimonios img{
    width: auto !important;
    height: 10rem !important;
}

.card-individuales{ 
    padding: 0 !important;
    flex: 1 1 !important;
    border: none;
    background-color:#CF3D3F !important;
    color: white !important;
}

.card-body-testimonios{
    height:fit-content;
    text-align: center;
    background-color: #E8E8E8;
    color:#0D1347
}


@media(max-width:575px) {
    .card-testimonios{
        flex-direction: column !important;
    }
    
}