.card-group-principal{
    gap: 1rem;
    margin: 2rem 1.2rem;
    
}



.card-body{
    height:fit-content;
    text-align: center;
    background-color: rgb(27, 26, 26);
    border: 1px solid rgba(105, 101, 101, 0.349);
    color: white;
}

div>.card:hover{
    cursor: pointer;
    transform:scale(.9,.9);
    transition: all .2s;
}

.ver{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.ver button{
    width: 40%;
    border:solid 2px #138C91;
    border-radius: 12px;
    
}


.card-principal{
    border: none;
    padding: 0rem !important;
}

.card-principal img{
    border-radius: 0px;
    width: 100%;
    height:50%;
    margin: auto;
}

.ver button:hover{
    background-color: #138C91;
}

@media(max-width:570px) {
    div>h3{
        font-size: 1.5rem;
    }
}