.card-group{
    gap: 1rem;
    margin: 1rem;
    
}

.card-body{
    height:fit-content;
    text-align: center;
    border: 1px solid rgba(105, 101, 101, 0.349);
}

div>.card:hover{
    cursor: pointer;
    transform:scale(.9,.9);
    transition: all .2s;
}

.card-group img{
    width: 100%;
    height:50%;
    margin: auto;
}


.ver{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}



.ver button{
    width: 30%;
    border:none;
}

