.servicios-v2, .servicios-v3{
    display: flex;
    flex-direction: row;
    border-top: solid 1px rgba(155, 154, 154, 0.767);
    font-size: 1rem;
    
  }
  
  .texto-v2 button {
    background-color: #CF3D3F;
    color:white;
    padding: .5rem 2rem;
    border: none;
    border-radius: 10px;
  }
  
  .imagen-v2,
  .texto-v2 {
    width: calc(50% ); 
    justify-content: center;
    align-items: center;
  }
  
  .texto-v2{
    padding: 3rem;
  }
  
  .imagen-v2 img{
    max-width: 100%; 
    height: 100%; 
  }
  
  .banner-promo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:10rem;
    background-image: url("https://i.postimg.cc/9MYsqrCP/back5d.png");
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
  
  }
  
  
  @media(max-width:1024px) {
    .banner-promo{
      font-size: 1.5rem;
    }}
  
    @media(max-width:768px) {
      .banner-promo{
        font-size: 1.2rem;
      }}
  
   
  
  
  
  @media(max-width:630px) {
    .servicios-v2{
      flex-direction: column;
      font-size: 1rem;
    }
  
    .servicios-v3{
      flex-direction: column-reverse;
      font-size: 1rem;
    }
  
    .banner-promo{
      font-size: 1.3rem;
    }
  
    .imagen-v2,
  .texto-v2 {
    width: 100%; 
    box-sizing: border-box; 
    justify-content: center;
    align-items: center;
  }
  
    
  }