.contenedor-principal{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2rem 0rem;
    
    padding: 1rem 2rem;
}

.contenedor-principal img{
    width: 75%;
    margin: auto
}

.container Button{
    border: none;
    border-radius: 2rem;
    background-color: #F7AB26;
    padding: 1rem;
    margin:5rem 1rem 0rem 0rem
}

.container{
    margin: auto;
}




@media(max-width:630px) {
    .contenedor-principal Button{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        
    }
    .contenedor-principal {
        display: flex;
        flex-direction: column-reverse;
        text-align: justify;
        padding: 0rem;
        margin: 0rem;
    }
    
    .ocultar{
        display: none;
    }
    .contenedor-principal img{
        margin:auto;
        display: flex;
    }

    .container{
        margin: 2rem auto;
    }
}