.registro-usuario{
    background-color: #F8F9FA;
    margin: 2rem auto;
    border:solid 1px grey;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
    box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0,0,0,0.75);
}

.boton-submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.boton-submit Button{
    background-color:#CF3D3F;
    border: none;
    border-radius: 0.5rem;
}

.boton-modal-registro{
    background-color:#CF3D3F;
    border: none;
    border-radius: 0.5rem;
}




.input-registro{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width: 100%;
}

.input-registro svg {
    font-size: 2rem;
}

.boton-password svg{
    font-size: 1.5rem;
}


.boton-password{
    background-color: #f8f9fa00;
    border: none;
    color:rgb(54, 54, 54);;
    margin-left: -60px !important;
    
}

.boton-password:hover{
    background-color: rgba(102, 51, 153, 0);
    color:rgb(41, 40, 40);
    transform: scale(1.5, 1.5);
    transition: all .2s;
}

@media(max-width:575px) {
    .registro-usuario{
        width: 90%;
    
}}

