
.logo-nav img {
    width: 12rem;
}

.nav-link:hover {
    color: #da4747;
    box-shadow: 0px 2px 0px 0px #0B1146;
    -webkit-box-shadow: 0px 2px 0px 0px #0B1146;
    -moz-box-shadow: 0px 2px 0px 0px #0B1146;
    transition: all .3s;
}

.bg-body-tertiary{
    border-bottom: 5px solid #282540;
    width: 100%;
    background-color: #FBFBFB !important;
    font-size: 1.1rem;
}

