.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 6rem 2rem;
    gap: 3rem;
}

.productos div:hover{
    cursor: pointer;
    transform: scale(.9,.9);
    transition: all 0.5s;
}

.tienda{
    margin: 2rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tienda a{
    width: 40%;
    border:solid 2px #CF3D3F;
    border-radius: 12px;
    color: #0D1347;
}

.tienda a:hover{
    background-color: #CF3D3F !important;
    border: black solid 1px;
}


.productos img{
    width:10rem;
}


@media(max-width:567px) {
    .productos img{
        width: 10rem;
    }

    .productos{
        flex-direction: column;
        gap: 3rem;
        
    }

   /*  #ocultar{
        display: none;
    }
 */
    .productos h4,h3{
        font-size: 1rem;
    }
}

