a:link {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 950px) {
  .icon {
    display: none;
  }

  .inputStyle {
    margin-right: 200px;
  }

  .cardPrueba {
    width: 100%;
  }

  .containerImg {
    display: none;
  }
}

.inputStyle {
  width: 90%;
  color: black;
  font-size: 15px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #cf3d3f;
  outline: none;
}

.inputStyle:focus {
  animation: pulse;
  animation-duration: 1s;
  outline: none;
  box-shadow: 0 4px 2px -2px #6c757d;
}

.classHeader {
  background: none;
}

.modalError {
  width: 100%;
  margin-bottom: 50px;
}
.containerImg {
  width: 280px;
  border-radius: 4px;
  margin-top: 16px;
  height: 400px;
  background-image: url("https://www.zastavki.com/pictures/2560x1600/2020Funny_wallpapers_Ginger_cat_in_a_spiderman_mask_on_a_red_background_146392_19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon {
  margin-right: 12px;
}
