.catalogoContainer {
  width: 90%;
}

.banner {
  width: 100%;
  height: 500px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/420/718/original/pet-shop-banner-design-template-cartoon-illustration-of-cats-dogs-house-food-vector.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
